ServicioWebLecturaFinanza/src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8080/ServicioWebFinanza/Operaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="depositar" type="tns:depositar"/>

<xs:element name="depositarResponse" type="tns:depositarResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registrar" type="tns:registrar"/>

<xs:element name="registrarResponse" type="tns:registrarResponse"/>

<xs:element name="retirar" type="tns:retirar"/>

<xs:element name="retirarResponse" type="tns:retirarResponse"/>

<xs:complexType name="retirar">
<xs:sequence>
<xs:element name="cantidad" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaccion">
<xs:sequence>
<xs:element name="exito" type="xs:boolean"/>
<xs:element name="saldo" type="xs:int"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retirarResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="sldo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrar">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositar">
<xs:sequence>
<xs:element name="cantidad" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositarResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>