ServicioWebLecturaFinanza/src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8080/ServicioWebFinanza/Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/ServicioWebFinanza/Operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="registrar">
<part name="parameters" element="tns:registrar"/>
</message>
<message name="registrarResponse">
<part name="parameters" element="tns:registrarResponse"/>
</message>
<message name="depositar">
<part name="parameters" element="tns:depositar"/>
</message>
<message name="depositarResponse">
<part name="parameters" element="tns:depositarResponse"/>
</message>
<message name="retirar">
<part name="parameters" element="tns:retirar"/>
</message>
<message name="retirarResponse">
<part name="parameters" element="tns:retirarResponse"/>
</message>
<portType name="Operaciones">
<operation name="login">
<input wsam:Action="http://sw/Operaciones/loginRequest" message="tns:login"/>
<output wsam:Action="http://sw/Operaciones/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="registrar">
<input wsam:Action="http://sw/Operaciones/registrarRequest" message="tns:registrar"/>
<output wsam:Action="http://sw/Operaciones/registrarResponse" message="tns:registrarResponse"/>
</operation>
<operation name="depositar">
<input wsam:Action="http://sw/Operaciones/depositarRequest" message="tns:depositar"/>
<output wsam:Action="http://sw/Operaciones/depositarResponse" message="tns:depositarResponse"/>
</operation>
<operation name="retirar">
<input wsam:Action="http://sw/Operaciones/retirarRequest" message="tns:retirar"/>
<output wsam:Action="http://sw/Operaciones/retirarResponse" message="tns:retirarResponse"/>
</operation>
</portType>
<binding name="OperacionesPortBinding" type="tns:Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operaciones">
<port name="OperacionesPort" binding="tns:OperacionesPortBinding">
<soap:address location="http://localhost:8080/ServicioWebFinanza/Operaciones"/>
</port>
</service>
</definitions>